@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .container {
        @apply w-full px-[.75rem] mx-auto;
    }
}

@layer base {
    *:not(#map *):not(footer *) {
        @apply text-primary dark:text-light select-none;
    }
    h1,
    .h1 {
        @apply text-3xl;
    }
    h2,
    .h2 {
        @apply text-2xl;
    }
    h3,
    .h3 {
        @apply text-xl;
    }
    h4,
    .h4 {
        @apply text-lg;
    }
    h5,
    .h5 {
        @apply text-base;
    }
    h6,
    .h6 {
        @apply text-sm;
    }

    hr{
        @apply bg-primary dark:bg-light;
    }   
    
    footer *:not(svg,path,p *){
        @apply bg-primary dark:bg-light text-light dark:text-primary;
    }
}

:root {
    --secondary: #6c757d;
    --success: #198754;
    --info: #38BDF8;
    --warning: #ffc107;
    --danger: #dc3545;
    --dark: #212529;
}

body {
    margin: 0;
}