@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .container {
        @apply w-full px-[.75rem] mx-auto;
    }
}

@layer base {
    *:not(#map *):not(footer *) {
        @apply text-primary dark:text-light select-none;
    }   

    hr{
        @apply bg-primary dark:bg-light;
    }   
    
    footer *:not(svg,path,p *){
        @apply bg-primary dark:bg-light text-light dark:text-primary;
    }
}

:root {
    --secondary: #6c757d;
    --success: #198754;
    --info: #38BDF8;
    --warning: #ffc107;
    --danger: #dc3545;
    --dark: #212529;
}

body {
    margin: 0;
}

h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  
  h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  
  h1 {
    font-size: calc(1.375rem + 1.5vw);
  }